
<html>
    <head>
        <link rel="stylesheet" href="/css/chome.css">
    </head>

    <body>
        
        <div class="navbar">
			<a style="text-decoration: none;" href="/"><h2>Solace</h2></a> 
            <ul>
				<% if(!currentUser){ %>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Sign Up</a></li>
				<%	} else { %>
					<li><a href="/logout">Logout</a></li>
					<li><a href='/dash'>Dashboad</a></li>
			<%	} %>	
			<li><a href="/blog">Blogs</a></li>
			<li><a href="/jobs">Jobs</a></li>
			</ul>
			
		</div>
	
        <div class="container">
			<h1><%= post.name %>  </h1><br><br>
			
			
	<table >
		<tr>
			<td ><img src="<%= post.image %>"></td>
			<td>	<p> <%= post.description %></p></td>
		</tr>
	</table>
	<br><br>
          

    
			<a class="btn1" href="/blog/<%= post._id %>/comments/new">Add new comment</a>

<br><br>
    
    
        

            <table class="comments">
				<% post.comments.forEach(function(comment){ %>
                <tr>
                    <td class="left"><strong><%= comment.author %> </strong></td>
                    <td class="right"> <%= comment.text %></td>
				</tr>
				<%		   }) %>
				
            </table>
        </div>

    </body>
</html>
